global
    log stdout format raw local0


defaults
    log global
    mode tcp
    timeout connect 5s
    timeout client  1m
    timeout server  1m


backend dev-db
    server dev db_dev:5432 check

backend qa-db
    server qa db_qa:5432 check

backend snap-db
    server snap db_snap:5432 check

backend prod-db
    server prod db_prod:5432 check

